@use "./variable"as *;

/* ===============================================
# theme
=============================================== */
html {
  font-weight: 500;
  color: #0808AB;
  background-color: #D7EC50;
  border-color: #0808AB;

  // ダークモード
  &.darkmode {
    font-weight: 500;
    color: #D7EC50;
    background-color: #0808AB;
    border-color: #D7EC50;
  }
}

/* ===============================================
# common
=============================================== */
body {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.8;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

// 見出し
.el-head {
  @include font-rem(20);

  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: 800;
  text-align: center;
  border-bottom: 1px solid;

  @media #{$mq-sm} {
    @include font-rem(24);
  }
}

.el-subhead {
  position: relative;
  font-weight: 800;

  @media #{$mq-sm} {
    @include font-rem(18);

    margin-bottom: 5px;
  }

  &::after {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 3em;
    height: 1px;
    margin-left: 5px;
    content: '';
    border-top: 1px solid;
  }
}

// section
.ly-section {
  margin-inline: 15px;
  margin-top: 40px;
}

// wrap
.ly-wrap {
  max-width: 600px;
  margin-inline: auto;
}

/* ===============================================
# .bl-profile
=============================================== */
// 全体レイアウト
.bl-profile {
  display: grid;
  gap: 10px;

  @media #{$mq-sm} {
    grid-template-columns: max-content max-content;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}

// 装飾
.bl-profile {
  line-height: 1.5;
  text-align: center;

  @media #{$mq-sm} {
    text-align: left;
  }

  .face-img {
    display: inline-block;
    width: 160px;
    border: 5px solid white;
    border-radius: 100%;
  }

  .name {
    @include font-rem(24);

    font-weight: 800;
  }

  .txt {
    margin-top: 10px;
  }
}

/* ===============================================
# .bl-sns
=============================================== */
.bl-sns {
  margin-inline: 15px;
  margin-top: 10px;

  @media #{$mq-sm} {
    margin-top: 20px;
  }
}

.sns-list,
.shop-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  a {
    font-size: 0;
  }
}

.shop-list {
  margin-top: 10px;
}

.sns-list-item {
  a {
    display: inline-block;
    width: 13vw;
    height: 13vw;
    background-repeat: no-repeat;
    background-position: top 50% left 50%;
    background-size: contain;

    @media #{$mq-sm} {
      width: 60px;
      height: 60px;
    }
  }

  .hatena {
    background-image: url('../images/sns-icon/hatenablog-normal.svg');
  }

  .mastodon {
    background-image: url('../images/sns-icon/mastodon-black.svg');
  }

  .twitter {
    background-image: url('../images/sns-icon/x-black.svg');
    background-size: 80%;
  }

  .tumblr {
    background-image: url('../images/sns-icon/tumblr.svg');
  }

  .youtube {
    background-image: url('../images/sns-icon/youtube.svg');
  }
}

// ダークモードのアイコン
.darkmode {
  .sns-list-item {
    .hatena {
      background-image: url('../images/sns-icon/hatenablog-white.svg');
    }

    .mastodon {
      background-image: url('../images/sns-icon/mastodon-white.svg');
    }

    .twitter {
      background-image: url('../images/sns-icon/x-white.svg');
    }
  }
}

.shop-list-item {
  a {
    display: inline-block;
    width: 40vw;
    height: 50px;
    background-repeat: no-repeat;
    background-position: top 50% left 50%;
    background-size: contain;

    @media #{$mq-sm} {
      width: 180px;
      height: 50px;
    }
  }

  .txt {
    margin-top: 5px;
    text-align: center;

    @include font-rem(12);
  }

  .suzuri {
    background-image: url('../images/sns-icon/suzuri-normal.svg');
  }

  .booth {
    background-image: url('../images/sns-icon/booth.svg');
  }
}

// ダークモードのアイコン
.darkmode {
  .shop-list-item {
    .suzuri {
      background-image: url('../images/sns-icon/suzuri-white.svg');
    }
  }
}

/* ===============================================
# .bl-about
=============================================== */
.bl-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em 10px;

  .about-item:nth-child(1) {
    grid-column: 1/3;
  }
}

/* ===============================================
# .bl-request
=============================================== */
.bl-request {}

/* ===============================================
# .onoffswitch
=============================================== */
.onoffswitch {
  position: fixed;
  top: 10px;
  right: 10px;

  @media #{$mq-sm} {
    top: 20px;
    right: 20px;
  }

  input[type="checkbox"] {
    display: none;
  }
}

.onoffswitch-label {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    @include font-rem(12);
  }

  .button {
    position: relative;
    display: block;
    width: 40px;
    height: 22px;
    background-color: white;
    border-radius: 100px;
    transition: all 0.4s;
    transition: 0.3s ease all;

    &::before {
      position: absolute;
      top: 50%;
      left: 3px;
      display: block;
      width: 17px;
      height: 17px;
      content: '';
      background-color: #0808AB;
      border-radius: 100%;
      transition: 0.3s ease all;
      transform: translateY(-50%);
    }
  }
}

// darkmord
.darkmode {
  .onoffswitch-label {
    .button {
      background-color: #ddd;
      transition: 0.3s ease all;

      &::before {
        left: calc(100% - 19px);
        transition: 0.3s ease all;
      }
    }
  }
}